
  <h1>Stupid Coaching</h1>
  <br>
  <div class="you">
    <%= @question %>
    <p>- You</p>
  </div>
  <br>
  <div class="coach">
    <%= @answer %>
    <p>-Your Coach</p>
  </div>
  <br>
  <%= link_to "Ask more questions", ask_path %>
