  <h1>"Hello, I am your coach!</h1>
  <h3> What did you want to tell me?"</h3>

  <form action="/answer">
    <input type="text" name="question" placeholder="Ask your couch here">
    <input type="submit">
  </form>
