

  <div class="wrap">
    <h1>"Hello, I am your coach!</h1>
    <h3> What did you want to tell me?"</h3>
    <div class="search">
      <form action="/answer" class="inline">
        <input type="text" name="question" class="searchTerm" placeholder="Ask your couch here">
        <input type="submit" class="searchButton">
      </form>
    </div>
  </div>
